h1 {
	font-family: sans-serif;
	margin: 0 auto;
}

.bar {
  fill: #CCCCCC;
}
.dot {
	stroke: #CCCCCC;
	stroke-width: 1.5;
	fill: #FFFFFF;
}

.total-line {
	stroke: #CCCCCC;
	fill: #FFFFFF;
	stroke-width: 1.3;
}

/*.bar:hover {
  fill: #001f3f;
}*/

.axis--x path {
  display: none;
}

.dashed-line {
    stroke: #DDDDDD;
    stroke-width: 1.5;
    stroke-dasharray: 6 2;
}

.step-path, .line-dot{
    stroke: #B10DC9;
    stroke-width: 1.5;
    /*stroke-dasharray: 2 2;*/
}

/*.total-line {
    stroke: #0074D9;
    stroke-width: 0.5;
    stroke-dasharray: 2 4;
}
*/
.dot {
	/*stroke: #0074D9;*/
	stroke-width: 1.5;
	fill: #FFFFFF;
}

.line-dot {
	fill: #FFFFFF;
}

text {
	font: 10px sans-serif;
}

.Longbow {
	fill: #39CCCC;
	stroke: #39CCCC;
}

.FruitNinja {
	fill: #01FF70;
	stroke: #01FF70;
}

.Holopoint {
	fill: #FF851B;
	stroke: #FF851B;
}

.Holoball {
	fill: #FF4136;
	stroke: #FF4136;
}

.bar {
	stroke: none;
}
.dot {
	/*stroke: #0074D9;*/
	stroke-width: 1.5;
	fill: #FFFFFF;
}

.line-dot {
	fill: #FFFFFF;
}

.legend {
	border: 1px solid #001f3f;
}

.legend-text {
	fill: black;
	stroke: none;
	font: 10px sans-serif;
}

.multi-bar-dot {
	stroke:#CCCCCC !important;
}


.tooltip {
	visibility: hidden;
	font: 12px sans-serif;
	background: #FFFFFF;
	border: 2px solid #001f3f;
    padding: 10px 15px;
    width: 220px;
    position: absolute;
    border-radius: 5px;
}

.tooltip > p {
	margin: .3em 0em;
}

.spark-path {
	stroke: #001f3f;
}